# Python
__pycache__/
*.py[cod]
*.egg-info/

# Testing
.pytest_cache/
.mypy_cache/

# Environment
venv/
.env

# Project
output/
logs/

# OS
.DS_Store

# IDE
.vscode/
!.vscode/settings.json

# Claude
CLAUDE.md

# misc
misc/
.env.cloud
cloud-sql-proxy
.env.cloud.docker

docs/
