# Output directory
output/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Testing and Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Type checking
.mypy_cache/

# Venv
venv/
.venv/
env/
.env/

# Logs
logs/

# Environment
.env
*.env

# OS
.DS_Store

# IDE
.vscode/
!.vscode/settings.json
.idea/
*.swp
*.swo